<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.zc.domain.Comment">
        <id column="id" property="id"></id>
        <result column="comment_name" property="commentName"></result>
        <result column="comment_content" property="commentContent"></result>
        <result column="comment_email" property="commentEmail"></result>
        <result column="comment_like_count" property="commentLikeCount"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="article_id" property="articleId"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, comment_name, comment_content, comment_email, comment_like_count, create_time, update_time, article_id
    </sql>

    <sql id="search">
        <if test="comment.articleId != null and comment.articleId != ''">
            WHERE article_id = #{comment.articleId}
        </if>
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM comment
        <include refid="search"></include>
        ORDER BY create_time DESC
        limit #{commonPage.limitPageNum},#{commonPage.pageSize};
    </select>

    <select id="countAll" resultType="INT">
        SELECT COUNT(*) FROM comment <include refid="search"></include>;
    </select>
</mapper>