<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.GlobalNavMapper">
    <resultMap id="BaseResultMap" type="com.zc.domain.GlobalNav">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="href" property="href"></result>
        <result column="icon_url" property="iconUrl"></result>
        <result column="icon_class_name" property="iconClassName"></result>
        <result column="visible" property="visible"></result>
        <result column="remark" property="remark"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, href, icon_url, icon_class_name, visible, remark, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM global_nav ORDER BY id ASC;
    </select>
</mapper>
