<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.InsideArticleMapper">
    <resultMap id="BaseResultMap" type="com.zc.domain.InsideArticle">
        <id column="id" property="id"></id>
        <result column="article_title" property="articleTitle"></result>
        <result column="article_author" property="articleAuthor"></result>
        <result column="article_like_count" property="articleLikeCount"></result>
        <result column="visit_count" property="visitCount"></result>
        <result column="article_content" property="articleContent"></result>
        <result column="remark" property="remark"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="article_type_id" property="articleTypeId"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, article_title, article_author, article_like_count, visit_count, article_content, remark, create_time, update_time, article_type_id
    </sql>

    <sql id="search">
        <if test="insideArticle.articleTypeId != null and insideArticle.articleTypeId != ''">
            WHERE article_type_id = #{insideArticle.articleTypeId}
        </if>
    </sql>

    <sql id="checkUpdate">
        <if test="articleTitle != null and articleTitle != ''">
            article_title = #{articleTitle}
        </if>
        <if test="articleAuthor != null and articleAuthor != ''">
            article_author = #{articleAuthor}
        </if>
        <if test="articleLikeCount != null and articleLikeCount != ''">
            article_like_count = #{articleLikeCount}
        </if>
        <if test="visitCount != null and visitCount != ''">
            visit_count = #{visitCount}
        </if>
        <if test="articleContent != null and articleContent != ''">
            article_content = #{articleContent}
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark}
        </if>
        <if test="articleTypeId != null and articleTypeId != ''">
            article_type_id = #{articleTypeId}
        </if>
        update_time = #{updateTime}
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM inside_article
        <include refid="search"></include>
        ORDER BY create_time DESC
        limit #{commonPage.limitPageNum},#{commonPage.pageSize};
    </select>

    <select id="countAll" resultType="INT">
        SELECT COUNT(*) FROM inside_article <include refid="search" />;
    </select>

    <insert id="addOne" parameterType="com.zc.domain.InsideArticle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO inside_article (article_title, article_author, article_like_count, visit_count, article_content, remark, create_time, article_type_id)
        VALUES (#{articleTitle}, #{articleAuthor}, #{articleLikeCount}, #{visitCount}, #{articleContent}, #{remark}, #{createTime}, #{articleTypeId});
    </insert>

    <update id="updateOne" parameterType="com.zc.domain.InsideArticle">
        UPDATE inside_article SET <include refid="checkUpdate" /> WHERE id = #{id};
    </update>

    <delete id="deleteOne" parameterType="com.zc.domain.InsideArticle">
        DELETE FROM inside_article WHERE id = #{id};
    </delete>
</mapper>
