<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.OutsideArticleMapper">
    <resultMap id="BaseResultMap" type="com.zc.domain.OutsideArticle">
        <id column="id" property="id"></id>
        <result column="article_title" property="articleTitle"></result>
        <result column="article_image_url" property="articleImageUrl"></result>
        <result column="article_href" property="articleHref"></result>
        <result column="article_author" property="articleAuthor"></result>
        <result column="article_source" property="articleSource"></result>
        <result column="visit_count" property="visitCount"></result>
        <result column="article_like_count" property="articleLikeCount"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="article_type_id" property="articleTypeId"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, article_title, article_image_url, article_href, article_author, article_source, visit_count, article_like_count, create_time, update_time, article_type_id
    </sql>

    <sql id="search">
        <if test="outsideArticle.articleTypeId != null and outsideArticle.articleTypeId != ''">
            WHERE article_type_id = #{outsideArticle.articleTypeId}
        </if>
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM outside_article
        <include refid="search" />
        ORDER BY create_time DESC, visit_count DESC
        limit #{commonPage.limitPageNum},#{commonPage.pageSize};
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM outside_article WHERE id = #{id};
    </select>

    <select id="findByArticleTypeId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM outside_article
        WHERE article_type_id = #{articleTypeId}
        ORDER BY create_time DESC;
    </select>

    <select id="countAll" resultType="INT">
        SELECT COUNT(*) FROM outside_article <include refid="search" />;
    </select>

    <update id="updateVisitCount">
        UPDATE outside_article SET visit_count=visit_count+1, update_time=NOW() WHERE id = #{id};
    </update>

    <insert id="addOne" parameterType="com.zc.domain.OutsideArticle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO outside_article (article_title, article_image_url, article_href, article_author, article_source, visit_count, article_like_count, create_time, article_type_id)
        VALUES (#{articleTitle}, #{articleImageUrl}, #{articleHref}, #{articleAuthor}, #{articleSource}, #{visitCount}, #{articleLikeCount}, #{createTime}, #{articleTypeId});
    </insert>

    <update id="updateOne">
        UPDATE outside_article SET article_title=#{articleTitle}, article_href=#{articleHref}, article_author=#{articleAuthor}, article_type_id=#{articleTypeId}, update_time=NOW()
        WHERE id = #{id};
    </update>

    <delete id="deleteOne" parameterType="com.zc.domain.OutsideArticle">
        DELETE FROM outside_article WHERE id = #{id};
    </delete>

</mapper>