<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.ProgressMapper">
    <resultMap id="BaseResultMap" type="com.zc.domain.Progress">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="img_url" property="imgUrl"></result>
        <result column="github_href" property="githubHref"></result>
        <result column="project_href" property="projectHref"></result>
        <result column="remark" property="remark"></result>
        <result column="content" property="content"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, img_url, github_href, project_href, remark, content, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM progress ORDER BY create_time DESC;
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM progress WHERE id = #{id};
    </select>

    <insert id="addOne" parameterType="com.zc.domain.Progress" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO progress (title, img_url, github_href, project_href, remark, content, create_time)
        VALUES (#{title}, #{imgUrl}, #{githubHref}, #{projectHref}, #{remark}, #{content}, #{createTime});
    </insert>

    <update id="updateOne">
        UPDATE progress SET title=#{title}, github_href=#{githubHref}, project_href = #{projectHref}, update_time=NOW()
        WHERE id = #{id};
    </update>

    <delete id="deleteOne" parameterType="com.zc.domain.Progress">
        DELETE FROM progress WHERE id = #{id};
    </delete>
</mapper>