<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.SysModuleMapper">
    <resultMap id="BaseResultMap" type="com.zc.domain.SysModule">
        <id column="id" property="id"></id>
        <result column="parent_id" property="parentId"></result>
        <result column="module_path" property="modulePath"></result>
        <result column="module_name" property="moduleName"></result>
        <result column="module_icon" property="moduleIcon"></result>
        <result column="remark" property="remark"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, parent_id, module_path, module_name, module_icon, remark, create_time, update_time
    </sql>

    <select id="findByIds" resultMap="BaseResultMap" parameterType="java.util.Arrays">
        SELECT <include refid="Base_Column_List" /> FROM sys_module WHERE id IN
        <foreach collection="array" close=")" open="(" separator="," index="index" item="item">
            #{item}
        </foreach>
        ORDER BY create_time ASC;
    </select>
</mapper>