<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.zc.domain.SysRole">
        <id column="id" property="id"></id>
        <result column="role_name" property="roleName"></result>
        <result column="authority_list" property="authorityList"></result>
        <result column="remark" property="remark"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_name, authority_list, remark, create_time, update_time
    </sql>

    <sql id="search">
        <if test="sysRole.roleName != null and sysRole.roleName != ''">
            AND role_name LIKE concat('%',#{sysRole.roleName},'%')
        </if>
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM sys_role WHERE 1=1
        <include refid="search" />
        ORDER BY create_time DESC
        limit #{commonPage.limitPageNum}, #{commonPage.pageSize};
    </select>

    <select id="countAll" resultType="INT">
        SELECT COUNT(*) FROM sys_role WHERE 1=1 <include refid="search" />;
    </select>

    <select id="findAllNoPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM sys_role;
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM sys_role WHERE id = #{id};
    </select>

    <select id="checkRoleName" resultType="INT">
        SELECT COUNT(*) FROM sys_role WHERE role_name = #{roleName};
    </select>

    <insert id="addOne" parameterType="com.zc.domain.SysRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role (role_name, create_time)
        VALUES (#{roleName}, #{createTime});
    </insert>

    <update id="updateByRoleName">
        UPDATE sys_role SET role_name = #{roleName}, update_time = NOW() WHERE id = #{id};
    </update>

    <update id="updateByAuthorityList">
        UPDATE sys_role SET authority_list = #{authorityList}, update_time = NOW() WHERE id = #{id};
    </update>

    <delete id="deleteOne" parameterType="com.zc.domain.SysRole">
        DELETE FROM sys_role WHERE id = #{id};
    </delete>
</mapper>
