<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.zc.domain.SysUser">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="role_id" property="roleId"></result>
        <result column="visible" property="visible"></result>
        <result column="remark" property="remark"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, role_id, visible, remark, create_time, update_time
    </sql>

    <sql id="search">
        <if test="sysUser.username != null and sysUser.username != ''">
            AND username LIKE concat('%',#{sysUser.username},'%')
        </if>
        <if test="sysUser.visible != null and sysUser.visible != ''">
            AND visible = #{sysUser.visible}
        </if>
    </sql>

    <select id="checkLogin" resultType="INT">
        SELECT COUNT(username) FROM  sys_user WHERE username = #{sysUser.username} AND password = MD5(#{sysUser.password});
    </select>

    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM sys_user WHERE username = #{sysUser.username};
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM sys_user WHERE id = #{id};
    </select>

    <select id="checkAddOne" resultType="INT">
        SELECT COUNT(*) FROM sys_user WHERE username = #{username};
    </select>

    <insert id="addOne" parameterType="com.zc.domain.SysUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, role_id, visible, create_time, remark)
        VALUES (#{username}, MD5(#{password}), #{roleId}, #{visible}, #{createTime}, #{remark});
    </insert>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM sys_user WHERE 1=1
        <include refid="search"></include>
        ORDER BY create_time DESC
        limit #{commonPage.limitPageNum},#{commonPage.pageSize};
    </select>

    <select id="countAll" resultType="INT">
        SELECT COUNT(*) FROM sys_user WHERE 1=1 <include refid="search"></include>;
    </select>

    <update id="updateOne">
        UPDATE sys_user SET
        password = MD5(#{password}), role_id = #{roleId}, visible = #{visible}, update_time = NOW()
        WHERE id = #{id};
    </update>

    <delete id="deleteOne" parameterType="com.zc.domain.SysUser">
        DELETE FROM sys_user WHERE id = #{id};
    </delete>
</mapper>
